<component name="ArtifactManager">
  <artifact type="war" name="springInterceptorTry:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springInterceptorTry.war">
      <element id="artifact" artifact-name="springInterceptorTry:war exploded" />
    </root>
  </artifact>
</component>